*{
    margin: 0;
    padding: 0;
}
.banner {
    width: 100%;
    height: 100vh;
    /* background-image: url(/img/bg-unsplash.jpg.crdownload);
    background-size: cover; */
    background: linear-gradient(115deg, rgb(1, 12, 51) 50%,transparent 50%),
    url(/img/bg-unsplash.jpg) right center / auto 100%; /*deg度數 切的方向 transparent為透明*/
}
.banner-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container {
    width: 1200px;
    height: 100%;
    margin: auto;
}
.banner-txt {
    color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-txt h1 {
    font-style: 80px;
    border-bottom: 1px solid #333;
    margin-top: 5px;
    padding-top: 5px;
}